@keyframes float {
  0% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-15px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes glow {
  0% {
    opacity: .5;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: .5;
  }
}

@keyframes rotateSlow {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.float {
  animation: float 5s ease-in-out infinite;
}

.glow {
  animation: glow 2.5s ease-in-out infinite;
}

.rotate-slow {
  animation: rotateSlow 20s linear infinite;
}